*{
    margin:0;
    padding:0;
}
header{
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  
}
.nav_box{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.my_shop{
    font-size: 2.5rem;
    font-weight:800;
    color: white;
    font-family: cursive;
    cursor: pointer;
}
.cart{
    cursor: pointer;
    padding-right: 20px;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2){
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
}
.warning{
    height: 40px;
    width: 250px;
    position: fixed;
    right: 0;
    top: 10%;
    background-color: rgb(249, 11, 11);
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}
